<header id="header">
    <div class="main-head">
        <div class="container">
            <div class="wrap-navbar">
            <div class="left-main-head">
                <div class="btn-hum trigger-mnu">
                <div class="humburger-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <a class="hidden-xs" href="">Menu</a>
                </div>
            </div>
            <div class="center-main-head">
                <a class="logo-brand" href="index.html"><img src="https://cdn1.katadata.co.id/template/frontend_template_v3/images/new-logo-putih.svg">
                </a>
            </div>
            <div class="right-main-head">
            </div>
            </div>
        </div>
    </div>
</header>