<section class="headlines">
    <div class="container">
        <div class="headlinesWrapper">
            <div class="row">
                <div class="col-sm-12">
                    <figure><a class="hl-pict" href=""><img [src]="imageDisplay" alt=""></a>
                    <figcaption>{{caption}}</figcaption>
                    </figure>
                </div>
                <div class="col-sm-12">
                    <a class="topik-link" href="#" alt="{topik}">{{topic}}</a>
                    <h2><a class="lockIcon" href="detail-artikel.html">{{title}}</a></h2>
                    <article>
                    <p>{{summary}}</p>
                    <p class="infoArtikel">{{dateSign}}</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>