<footer>
    <div class="container">
        <div class="flex-footer">
        <div class="footer-left"><a href="#"><img src="images/new-logo-blue.svg" alt=""></a>
            <ul>
            <li><a href="#">Tentang katadata</a></li>
            <li><a href="#">Advertising</a></li>
            <li><a href="#">Karier</a></li>
            <li><a href="#">Pedoman Media Siber</a></li>
            <li><a href="#">Hubungi Kami</a></li>
            </ul>
        </div>
        <div class="footer-right">
            <div>&copy;2018 Katadata. <span>Hak cipta dilindungi Undang-undang.</span></div>
            <div class="legal"><a href="#">Kebijakan Privasi </a><a href="#">Disclaimer</a></div>
        </div>
        </div>
    </div>
</footer>