<section class="video-slider-wrapper">
    <div class="container">
        <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12">
            <div class="arrowNavigation4"><a class="prevArrowNav4"><i class="fa fa-chevron-left" aria-hidden="true"></i></a><a class="nextArrowNav4"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></div>
            <div class="video-slider">
                <div class="item image" *ngFor="let data of dataListing" >
                    <span class="loading">Loading...</span>
                    <figure>
                    <div class="slide-image slide-media">
                    <img class="image-entity" [attr.data-lazy]="data.image"></div>
                    </figure><a class="caption" href="kd-video-detail.html"></a>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>