<figure>
		<img alt="" [src]="image">
</figure>
<a class="btn btn-blue-pastel" href="#">Unduh Infografik</a>
<ul class="btn-sosmed pull-right">
    <li>
        <a class="facebook" href="#" title="Facebook"><i aria-hidden="true" class="fa fa-facebook"></i><span>Share</span></a>
    </li>
    <li>
        <a class="twitter" href="#" title="Twitter"><i aria-hidden="true" class="fa fa-twitter"></i><span>Tweet</span></a>
    </li>
    <li>
        <a class="linkedin" href="#" title="Linkedin"><i aria-hidden="true" class="fa fa-linkedin"></i><span>Linkedin</span></a>
    </li>
</ul>